.category-card{
    margin: 16px 8px;
    padding: 8px;
    background: #F3F6F9;
    border-radius: 5px;
    box-shadow: 0px 1px 2px darkgray;
  }
  
  .category-products-card{
    display: flex;
    overflow: auto;
    gap: 8px;
    padding: 8px;
  }
  
  /* hide scrollbar from chrome */
  .category-products-card::-webkit-scrollbar{
    display: none;
  }
  
  /* hide scrollbar from edge, firefox */
  .category-products-card{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .carousel-container{
    padding-bottom: 8px;
  }
  
  .carousel-item{
    width: 100% !important;
    margin: 0 16px;
  }